@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
#root {
  font-family: "Inter", sans-serif;
  height: "inherit";
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}

.card-top{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #E6FDFE;
  border-radius: 7px;
  width: "178px";
  border-radius: "7px";
  position: "relative";
  flex: "none",
}

.card-top .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-top .right h3{
  line-height: 0.8;
}
